      <div class="card sci">
        <h3>Cómo limpiamos tus paneles</h3>
        <ul class="ticks">
          <li><b>Agua purificada desionizada</b> y un cepillo suave en una pértiga con agua.</li>
          <li><b>Nadie camina sobre tus paneles.</b> La pértiga llega a cada fila.</li>
          <li><b>Secan sin manchas</b>, sin película de minerales que tape la luz.</li>
          <li><b>Revisión de todo el arreglo incluida.</b> Una casa con veinte paneles normalmente sale en $140 a $160.</li>
        </ul>
      </div>
