      <div class="card sci">
        <h3>Lo que estás viendo</h3>
        <ul class="ticks">
          <li><b>Ventanas</b> limpias con agua purificada, mosquiteros, rieles y repisas incluidos.</li>
          <li><b>Paneles solares</b> lavados sin rayas, $7 por panel.</li>
          <li><b>Malla contra palomas</b> sujeta al marco del panel con clips, nunca atornillada, con espantapájaros gratis en las ventilas.</li>
          <li><b>Mosquiteros</b> con malla nueva en el momento, fibra de vidrio gris o todo clima.</li>
        </ul>
      </div>
